{% extends 'layout_admin.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel panel-heading">Panel de Usuarios</div>
                
                <div class="panel-body">
                    {# {% include 'PostBundle:Includes:_messages.html.twig' %} #}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Posts</th>
                                <th>Comentarios</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.email }}</td>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                <td><a href="{{ path('admin_user_post', {'id': user.id})}}" class="btn btn-success btn-sm">{{user.posts|length}}</a></td>                           
                                <td><span class="badge">{{user.comments|length}}</span></td>
                                <td>
                                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-success btn-sm">Editar</a>
                                </td>
                                <td>
                                    {{ include('admin/user/_delete_form.html.twig') }}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">© copyright: Xavier Casas Soria</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
